.label-min-rating {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.input-min-rating {
    -fx-pref-width: 50px;
}

.bar-chart {
    -fx-bar-fill: #1e90ff;
}

.bar-chart .chart-bar {
    -fx-padding: 5px;
}

.bar-chart .chart-legend {
    -fx-background-color: transparent;
}

.bar-chart .default-color0.chart-bar {
    -fx-bar-fill: #1e90ff; /* Farbe für den ersten Balken */
}

.bar-chart .default-color1.chart-bar {
    -fx-bar-fill: #ff6347; /* Farbe für den zweiten Balken */
}
